@theme {
  --font-size-body-1: var(--g-text-body-1-font-size);
  --font-size-body-2: var(--g-text-body-2-font-size);
  --font-size-body-3: var(--g-text-body-3-font-size);
  --font-size-body-short: var(--g-text-body-short-font-size);
  --font-size-caption-1: var(--g-text-caption-1-font-size);
  --font-size-caption-2: var(--g-text-caption-2-font-size);
  --font-size-header-1: var(--g-text-header-1-font-size);
  --font-size-header-2: var(--g-text-header-2-font-size);
  --font-size-subheader-1: var(--g-text-subheader-1-font-size);
  --font-size-subheader-2: var(--g-text-subheader-2-font-size);
  --font-size-subheader-3: var(--g-text-subheader-3-font-size);
  --font-size-display-1: var(--g-text-display-1-font-size);
  --font-size-display-2: var(--g-text-display-2-font-size);
  --font-size-display-3: var(--g-text-display-3-font-size);
  --font-size-display-4: var(--g-text-display-4-font-size);
  --font-size-code-1: var(--g-text-code-1-font-size);
  --font-size-code-2: var(--g-text-code-2-font-size);
  --font-size-code-3: var(--g-text-code-3-font-size);
  --font-size-code-inline-1: var(--g-text-code-inline-1-font-size);
  --font-size-code-inline-2: var(--g-text-code-inline-2-font-size);
  --font-size-code-inline-3: var(--g-text-code-inline-3-font-size);
  --radius-xs: var(--g-border-radius-xs);
  --radius-s: var(--g-border-radius-s);
  --radius-m: var(--g-border-radius-m);
  --radius-l: var(--g-border-radius-l);
  --radius-xl: var(--g-border-radius-xl);
  --color-white-50: var(--g-color-private-white-50);
  --color-white-70: var(--g-color-private-white-70);
  --color-white-100: var(--g-color-private-white-100);
  --color-white-150: var(--g-color-private-white-150);
  --color-white-200: var(--g-color-private-white-200);
  --color-white-250: var(--g-color-private-white-250);
  --color-white-300: var(--g-color-private-white-300);
  --color-white-350: var(--g-color-private-white-350);
  --color-white-400: var(--g-color-private-white-400);
  --color-white-450: var(--g-color-private-white-450);
  --color-white-500: var(--g-color-private-white-500);
  --color-white-550: var(--g-color-private-white-550);
  --color-white-600: var(--g-color-private-white-600);
  --color-white-650: var(--g-color-private-white-650);
  --color-white-700: var(--g-color-private-white-700);
  --color-white-750: var(--g-color-private-white-750);
  --color-white-800: var(--g-color-private-white-800);
  --color-white-850: var(--g-color-private-white-850);
  --color-white-900: var(--g-color-private-white-900);
  --color-white-950: var(--g-color-private-white-950);
  --color-white-1000-solid: var(--g-color-private-white-1000-solid);
  --color-black-50: var(--g-color-private-black-50);
  --color-black-70: var(--g-color-private-black-70);
  --color-black-100: var(--g-color-private-black-100);
  --color-black-150: var(--g-color-private-black-150);
  --color-black-200: var(--g-color-private-black-200);
  --color-black-250: var(--g-color-private-black-250);
  --color-black-300: var(--g-color-private-black-300);
  --color-black-350: var(--g-color-private-black-350);
  --color-black-400: var(--g-color-private-black-400);
  --color-black-450: var(--g-color-private-black-450);
  --color-black-500: var(--g-color-private-black-500);
  --color-black-550: var(--g-color-private-black-550);
  --color-black-600: var(--g-color-private-black-600);
  --color-black-650: var(--g-color-private-black-650);
  --color-black-700: var(--g-color-private-black-700);
  --color-black-750: var(--g-color-private-black-750);
  --color-black-800: var(--g-color-private-black-800);
  --color-black-850: var(--g-color-private-black-850);
  --color-black-900: var(--g-color-private-black-900);
  --color-black-950: var(--g-color-private-black-950);
  --color-black-20-solid: var(--g-color-private-black-20-solid);
  --color-black-50-solid: var(--g-color-private-black-50-solid);
  --color-black-100-solid: var(--g-color-private-black-100-solid);
  --color-black-150-solid: var(--g-color-private-black-150-solid);
  --color-black-200-solid: var(--g-color-private-black-200-solid);
  --color-black-250-solid: var(--g-color-private-black-250-solid);
  --color-black-300-solid: var(--g-color-private-black-300-solid);
  --color-black-350-solid: var(--g-color-private-black-350-solid);
  --color-black-400-solid: var(--g-color-private-black-400-solid);
  --color-black-450-solid: var(--g-color-private-black-450-solid);
  --color-black-500-solid: var(--g-color-private-black-500-solid);
  --color-black-550-solid: var(--g-color-private-black-550-solid);
  --color-black-600-solid: var(--g-color-private-black-600-solid);
  --color-black-650-solid: var(--g-color-private-black-650-solid);
  --color-black-700-solid: var(--g-color-private-black-700-solid);
  --color-black-750-solid: var(--g-color-private-black-750-solid);
  --color-black-800-solid: var(--g-color-private-black-800-solid);
  --color-black-850-solid: var(--g-color-private-black-850-solid);
  --color-black-900-solid: var(--g-color-private-black-900-solid);
  --color-black-950-solid: var(--g-color-private-black-950-solid);
  --color-black-1000-solid: var(--g-color-private-black-1000-solid);
  --color-blue-50: var(--g-color-private-blue-50);
  --color-blue-100: var(--g-color-private-blue-100);
  --color-blue-150: var(--g-color-private-blue-150);
  --color-blue-200: var(--g-color-private-blue-200);
  --color-blue-250: var(--g-color-private-blue-250);
  --color-blue-300: var(--g-color-private-blue-300);
  --color-blue-350: var(--g-color-private-blue-350);
  --color-blue-400: var(--g-color-private-blue-400);
  --color-blue-450: var(--g-color-private-blue-450);
  --color-blue-500: var(--g-color-private-blue-500);
  --color-blue-50-solid: var(--g-color-private-blue-50-solid);
  --color-blue-100-solid: var(--g-color-private-blue-100-solid);
  --color-blue-150-solid: var(--g-color-private-blue-150-solid);
  --color-blue-200-solid: var(--g-color-private-blue-200-solid);
  --color-blue-250-solid: var(--g-color-private-blue-250-solid);
  --color-blue-300-solid: var(--g-color-private-blue-300-solid);
  --color-blue-350-solid: var(--g-color-private-blue-350-solid);
  --color-blue-400-solid: var(--g-color-private-blue-400-solid);
  --color-blue-450-solid: var(--g-color-private-blue-450-solid);
  --color-blue-500-solid: var(--g-color-private-blue-500-solid);
  --color-blue-550-solid: var(--g-color-private-blue-550-solid);
  --color-blue-600-solid: var(--g-color-private-blue-600-solid);
  --color-blue-650-solid: var(--g-color-private-blue-650-solid);
  --color-blue-700-solid: var(--g-color-private-blue-700-solid);
  --color-blue-750-solid: var(--g-color-private-blue-750-solid);
  --color-blue-800-solid: var(--g-color-private-blue-800-solid);
  --color-blue-850-solid: var(--g-color-private-blue-850-solid);
  --color-blue-900-solid: var(--g-color-private-blue-900-solid);
  --color-blue-950-solid: var(--g-color-private-blue-950-solid);
  --color-blue-1000-solid: var(--g-color-private-blue-1000-solid);
  --color-green-50: var(--g-color-private-green-50);
  --color-green-100: var(--g-color-private-green-100);
  --color-green-150: var(--g-color-private-green-150);
  --color-green-200: var(--g-color-private-green-200);
  --color-green-250: var(--g-color-private-green-250);
  --color-green-300: var(--g-color-private-green-300);
  --color-green-350: var(--g-color-private-green-350);
  --color-green-400: var(--g-color-private-green-400);
  --color-green-450: var(--g-color-private-green-450);
  --color-green-500: var(--g-color-private-green-500);
  --color-green-50-solid: var(--g-color-private-green-50-solid);
  --color-green-100-solid: var(--g-color-private-green-100-solid);
  --color-green-150-solid: var(--g-color-private-green-150-solid);
  --color-green-200-solid: var(--g-color-private-green-200-solid);
  --color-green-250-solid: var(--g-color-private-green-250-solid);
  --color-green-300-solid: var(--g-color-private-green-300-solid);
  --color-green-350-solid: var(--g-color-private-green-350-solid);
  --color-green-400-solid: var(--g-color-private-green-400-solid);
  --color-green-450-solid: var(--g-color-private-green-450-solid);
  --color-green-500-solid: var(--g-color-private-green-500-solid);
  --color-green-550-solid: var(--g-color-private-green-550-solid);
  --color-green-600-solid: var(--g-color-private-green-600-solid);
  --color-green-650-solid: var(--g-color-private-green-650-solid);
  --color-green-700-solid: var(--g-color-private-green-700-solid);
  --color-green-750-solid: var(--g-color-private-green-750-solid);
  --color-green-800-solid: var(--g-color-private-green-800-solid);
  --color-green-850-solid: var(--g-color-private-green-850-solid);
  --color-green-900-solid: var(--g-color-private-green-900-solid);
  --color-green-950-solid: var(--g-color-private-green-950-solid);
  --color-green-1000-solid: var(--g-color-private-green-1000-solid);
  --color-yellow-50: var(--g-color-private-yellow-50);
  --color-yellow-100: var(--g-color-private-yellow-100);
  --color-yellow-150: var(--g-color-private-yellow-150);
  --color-yellow-200: var(--g-color-private-yellow-200);
  --color-yellow-250: var(--g-color-private-yellow-250);
  --color-yellow-300: var(--g-color-private-yellow-300);
  --color-yellow-350: var(--g-color-private-yellow-350);
  --color-yellow-400: var(--g-color-private-yellow-400);
  --color-yellow-450: var(--g-color-private-yellow-450);
  --color-yellow-500: var(--g-color-private-yellow-500);
  --color-yellow-50-solid: var(--g-color-private-yellow-50-solid);
  --color-yellow-100-solid: var(--g-color-private-yellow-100-solid);
  --color-yellow-150-solid: var(--g-color-private-yellow-150-solid);
  --color-yellow-200-solid: var(--g-color-private-yellow-200-solid);
  --color-yellow-250-solid: var(--g-color-private-yellow-250-solid);
  --color-yellow-300-solid: var(--g-color-private-yellow-300-solid);
  --color-yellow-350-solid: var(--g-color-private-yellow-350-solid);
  --color-yellow-400-solid: var(--g-color-private-yellow-400-solid);
  --color-yellow-450-solid: var(--g-color-private-yellow-450-solid);
  --color-yellow-500-solid: var(--g-color-private-yellow-500-solid);
  --color-yellow-550-solid: var(--g-color-private-yellow-550-solid);
  --color-yellow-600-solid: var(--g-color-private-yellow-600-solid);
  --color-yellow-650-solid: var(--g-color-private-yellow-650-solid);
  --color-yellow-700-solid: var(--g-color-private-yellow-700-solid);
  --color-yellow-750-solid: var(--g-color-private-yellow-750-solid);
  --color-yellow-800-solid: var(--g-color-private-yellow-800-solid);
  --color-yellow-850-solid: var(--g-color-private-yellow-850-solid);
  --color-yellow-900-solid: var(--g-color-private-yellow-900-solid);
  --color-yellow-950-solid: var(--g-color-private-yellow-950-solid);
  --color-yellow-1000-solid: var(--g-color-private-yellow-1000-solid);
  --color-orange-50: var(--g-color-private-orange-50);
  --color-orange-100: var(--g-color-private-orange-100);
  --color-orange-150: var(--g-color-private-orange-150);
  --color-orange-200: var(--g-color-private-orange-200);
  --color-orange-250: var(--g-color-private-orange-250);
  --color-orange-300: var(--g-color-private-orange-300);
  --color-orange-350: var(--g-color-private-orange-350);
  --color-orange-400: var(--g-color-private-orange-400);
  --color-orange-450: var(--g-color-private-orange-450);
  --color-orange-500: var(--g-color-private-orange-500);
  --color-orange-50-solid: var(--g-color-private-orange-50-solid);
  --color-orange-100-solid: var(--g-color-private-orange-100-solid);
  --color-orange-150-solid: var(--g-color-private-orange-150-solid);
  --color-orange-200-solid: var(--g-color-private-orange-200-solid);
  --color-orange-250-solid: var(--g-color-private-orange-250-solid);
  --color-orange-300-solid: var(--g-color-private-orange-300-solid);
  --color-orange-350-solid: var(--g-color-private-orange-350-solid);
  --color-orange-400-solid: var(--g-color-private-orange-400-solid);
  --color-orange-450-solid: var(--g-color-private-orange-450-solid);
  --color-orange-500-solid: var(--g-color-private-orange-500-solid);
  --color-orange-550-solid: var(--g-color-private-orange-550-solid);
  --color-orange-600-solid: var(--g-color-private-orange-600-solid);
  --color-orange-650-solid: var(--g-color-private-orange-650-solid);
  --color-orange-700-solid: var(--g-color-private-orange-700-solid);
  --color-orange-750-solid: var(--g-color-private-orange-750-solid);
  --color-orange-800-solid: var(--g-color-private-orange-800-solid);
  --color-orange-850-solid: var(--g-color-private-orange-850-solid);
  --color-orange-900-solid: var(--g-color-private-orange-900-solid);
  --color-orange-950-solid: var(--g-color-private-orange-950-solid);
  --color-orange-1000-solid: var(--g-color-private-orange-1000-solid);
  --color-red-50: var(--g-color-private-red-50);
  --color-red-100: var(--g-color-private-red-100);
  --color-red-150: var(--g-color-private-red-150);
  --color-red-200: var(--g-color-private-red-200);
  --color-red-250: var(--g-color-private-red-250);
  --color-red-300: var(--g-color-private-red-300);
  --color-red-350: var(--g-color-private-red-350);
  --color-red-400: var(--g-color-private-red-400);
  --color-red-450: var(--g-color-private-red-450);
  --color-red-500: var(--g-color-private-red-500);
  --color-red-50-solid: var(--g-color-private-red-50-solid);
  --color-red-100-solid: var(--g-color-private-red-100-solid);
  --color-red-150-solid: var(--g-color-private-red-150-solid);
  --color-red-200-solid: var(--g-color-private-red-200-solid);
  --color-red-250-solid: var(--g-color-private-red-250-solid);
  --color-red-300-solid: var(--g-color-private-red-300-solid);
  --color-red-350-solid: var(--g-color-private-red-350-solid);
  --color-red-400-solid: var(--g-color-private-red-400-solid);
  --color-red-450-solid: var(--g-color-private-red-450-solid);
  --color-red-500-solid: var(--g-color-private-red-500-solid);
  --color-red-550-solid: var(--g-color-private-red-550-solid);
  --color-red-600-solid: var(--g-color-private-red-600-solid);
  --color-red-650-solid: var(--g-color-private-red-650-solid);
  --color-red-700-solid: var(--g-color-private-red-700-solid);
  --color-red-750-solid: var(--g-color-private-red-750-solid);
  --color-red-800-solid: var(--g-color-private-red-800-solid);
  --color-red-850-solid: var(--g-color-private-red-850-solid);
  --color-red-900-solid: var(--g-color-private-red-900-solid);
  --color-red-950-solid: var(--g-color-private-red-950-solid);
  --color-red-1000-solid: var(--g-color-private-red-1000-solid);
  --color-purple-50: var(--g-color-private-purple-50);
  --color-purple-100: var(--g-color-private-purple-100);
  --color-purple-150: var(--g-color-private-purple-150);
  --color-purple-200: var(--g-color-private-purple-200);
  --color-purple-250: var(--g-color-private-purple-250);
  --color-purple-300: var(--g-color-private-purple-300);
  --color-purple-350: var(--g-color-private-purple-350);
  --color-purple-400: var(--g-color-private-purple-400);
  --color-purple-450: var(--g-color-private-purple-450);
  --color-purple-500: var(--g-color-private-purple-500);
  --color-purple-50-solid: var(--g-color-private-purple-50-solid);
  --color-purple-100-solid: var(--g-color-private-purple-100-solid);
  --color-purple-150-solid: var(--g-color-private-purple-150-solid);
  --color-purple-200-solid: var(--g-color-private-purple-200-solid);
  --color-purple-250-solid: var(--g-color-private-purple-250-solid);
  --color-purple-300-solid: var(--g-color-private-purple-300-solid);
  --color-purple-350-solid: var(--g-color-private-purple-350-solid);
  --color-purple-400-solid: var(--g-color-private-purple-400-solid);
  --color-purple-450-solid: var(--g-color-private-purple-450-solid);
  --color-purple-500-solid: var(--g-color-private-purple-500-solid);
  --color-purple-550-solid: var(--g-color-private-purple-550-solid);
  --color-purple-600-solid: var(--g-color-private-purple-600-solid);
  --color-purple-650-solid: var(--g-color-private-purple-650-solid);
  --color-purple-700-solid: var(--g-color-private-purple-700-solid);
  --color-purple-750-solid: var(--g-color-private-purple-750-solid);
  --color-purple-800-solid: var(--g-color-private-purple-800-solid);
  --color-purple-850-solid: var(--g-color-private-purple-850-solid);
  --color-purple-900-solid: var(--g-color-private-purple-900-solid);
  --color-purple-950-solid: var(--g-color-private-purple-950-solid);
  --color-purple-1000-solid: var(--g-color-private-purple-1000-solid);
  --color-cool-grey-50: var(--g-color-private-cool-grey-50);
  --color-cool-grey-100: var(--g-color-private-cool-grey-100);
  --color-cool-grey-150: var(--g-color-private-cool-grey-150);
  --color-cool-grey-200: var(--g-color-private-cool-grey-200);
  --color-cool-grey-250: var(--g-color-private-cool-grey-250);
  --color-cool-grey-300: var(--g-color-private-cool-grey-300);
  --color-cool-grey-350: var(--g-color-private-cool-grey-350);
  --color-cool-grey-400: var(--g-color-private-cool-grey-400);
  --color-cool-grey-450: var(--g-color-private-cool-grey-450);
  --color-cool-grey-500: var(--g-color-private-cool-grey-500);
  --color-cool-grey-50-solid: var(--g-color-private-cool-grey-50-solid);
  --color-cool-grey-100-solid: var(--g-color-private-cool-grey-100-solid);
  --color-cool-grey-150-solid: var(--g-color-private-cool-grey-150-solid);
  --color-cool-grey-200-solid: var(--g-color-private-cool-grey-200-solid);
  --color-cool-grey-250-solid: var(--g-color-private-cool-grey-250-solid);
  --color-cool-grey-300-solid: var(--g-color-private-cool-grey-300-solid);
  --color-cool-grey-350-solid: var(--g-color-private-cool-grey-350-solid);
  --color-cool-grey-400-solid: var(--g-color-private-cool-grey-400-solid);
  --color-cool-grey-450-solid: var(--g-color-private-cool-grey-450-solid);
  --color-cool-grey-500-solid: var(--g-color-private-cool-grey-500-solid);
  --color-cool-grey-550-solid: var(--g-color-private-cool-grey-550-solid);
  --color-cool-grey-600-solid: var(--g-color-private-cool-grey-600-solid);
  --color-cool-grey-650-solid: var(--g-color-private-cool-grey-650-solid);
  --color-cool-grey-700-solid: var(--g-color-private-cool-grey-700-solid);
  --color-cool-grey-750-solid: var(--g-color-private-cool-grey-750-solid);
  --color-cool-grey-800-solid: var(--g-color-private-cool-grey-800-solid);
  --color-cool-grey-850-solid: var(--g-color-private-cool-grey-850-solid);
  --color-cool-grey-900-solid: var(--g-color-private-cool-grey-900-solid);
  --color-cool-grey-950-solid: var(--g-color-private-cool-grey-950-solid);
  --color-cool-grey-1000-solid: var(--g-color-private-cool-grey-1000-solid);
  --color-text-primary: var(--g-color-text-primary);
  --color-text-complementary: var(--g-color-text-complementary);
  --color-text-secondary: var(--g-color-text-secondary);
  --color-text-hint: var(--g-color-text-hint);
  --color-text-info: var(--g-color-text-info);
  --color-text-positive: var(--g-color-text-positive);
  --color-text-warning: var(--g-color-text-warning);
  --color-text-danger: var(--g-color-text-danger);
  --color-text-utility: var(--g-color-text-utility);
  --color-text-misc: var(--g-color-text-misc);
  --color-text-info-heavy: var(--g-color-text-info-heavy);
  --color-text-positive-heavy: var(--g-color-text-positive-heavy);
  --color-text-warning-heavy: var(--g-color-text-warning-heavy);
  --color-text-danger-heavy: var(--g-color-text-danger-heavy);
  --color-text-utility-heavy: var(--g-color-text-utility-heavy);
  --color-text-misc-heavy: var(--g-color-text-misc-heavy);
  --color-text-brand: var(--g-color-text-brand);
  --color-text-brand-heavy: var(--g-color-text-brand-heavy);
  --color-text-brand-contrast: var(--g-color-text-brand-contrast);
  --color-text-link: var(--g-color-text-link);
  --color-text-link-hover: var(--g-color-text-link-hover);
  --color-text-link-visited: var(--g-color-text-link-visited);
  --color-text-link-visited-hover: var(--g-color-text-link-visited-hover);
  --color-text-dark-primary: var(--g-color-text-dark-primary);
  --color-text-dark-complementary: var(--g-color-text-dark-complementary);
  --color-text-dark-secondary: var(--g-color-text-dark-secondary);
  --color-text-dark-hint: var(--g-color-text-dark-hint);
  --color-text-light-primary: var(--g-color-text-light-primary);
  --color-text-light-complementary: var(--g-color-text-light-complementary);
  --color-text-light-secondary: var(--g-color-text-light-secondary);
  --color-text-light-hint: var(--g-color-text-light-hint);
  --color-text-inverted-primary: var(--g-color-text-inverted-primary);
  --color-text-inverted-complementary: var(--g-color-text-inverted-complementary);
  --color-text-inverted-secondary: var(--g-color-text-inverted-secondary);
  --color-text-inverted-hint: var(--g-color-text-inverted-hint);
  --color-base-background: var(--g-color-base-background);
  --color-base-generic: var(--g-color-base-generic);
  --color-base-generic-hover: var(--g-color-base-generic-hover);
  --color-base-generic-medium: var(--g-color-base-generic-medium);
  --color-base-generic-medium-hover: var(--g-color-base-generic-medium-hover);
  --color-base-generic-accent: var(--g-color-base-generic-accent);
  --color-base-generic-accent-disabled: var(--g-color-base-generic-accent-disabled);
  --color-base-generic-ultralight: var(--g-color-base-generic-ultralight);
  --color-base-simple-hover: var(--g-color-base-simple-hover);
  --color-base-simple-hover-solid: var(--g-color-base-simple-hover-solid);
  --color-base-brand: var(--g-color-base-brand);
  --color-base-brand-hover: var(--g-color-base-brand-hover);
  --color-base-selection: var(--g-color-base-selection);
  --color-base-selection-hover: var(--g-color-base-selection-hover);
  --color-base-info-light: var(--g-color-base-info-light);
  --color-base-info-light-hover: var(--g-color-base-info-light-hover);
  --color-base-info-medium: var(--g-color-base-info-medium);
  --color-base-info-medium-hover: var(--g-color-base-info-medium-hover);
  --color-base-info-heavy: var(--g-color-base-info-heavy);
  --color-base-info-heavy-hover: var(--g-color-base-info-heavy-hover);
  --color-base-positive-light: var(--g-color-base-positive-light);
  --color-base-positive-light-hover: var(--g-color-base-positive-light-hover);
  --color-base-positive-medium: var(--g-color-base-positive-medium);
  --color-base-positive-medium-hover: var(--g-color-base-positive-medium-hover);
  --color-base-positive-heavy: var(--g-color-base-positive-heavy);
  --color-base-positive-heavy-hover: var(--g-color-base-positive-heavy-hover);
  --color-base-warning-light: var(--g-color-base-warning-light);
  --color-base-warning-light-hover: var(--g-color-base-warning-light-hover);
  --color-base-warning-medium: var(--g-color-base-warning-medium);
  --color-base-warning-medium-hover: var(--g-color-base-warning-medium-hover);
  --color-base-warning-heavy: var(--g-color-base-warning-heavy);
  --color-base-warning-heavy-hover: var(--g-color-base-warning-heavy-hover);
  --color-base-danger-light: var(--g-color-base-danger-light);
  --color-base-danger-light-hover: var(--g-color-base-danger-light-hover);
  --color-base-danger-medium: var(--g-color-base-danger-medium);
  --color-base-danger-medium-hover: var(--g-color-base-danger-medium-hover);
  --color-base-danger-heavy: var(--g-color-base-danger-heavy);
  --color-base-danger-heavy-hover: var(--g-color-base-danger-heavy-hover);
  --color-base-utility-light: var(--g-color-base-utility-light);
  --color-base-utility-light-hover: var(--g-color-base-utility-light-hover);
  --color-base-utility-medium: var(--g-color-base-utility-medium);
  --color-base-utility-medium-hover: var(--g-color-base-utility-medium-hover);
  --color-base-utility-heavy: var(--g-color-base-utility-heavy);
  --color-base-utility-heavy-hover: var(--g-color-base-utility-heavy-hover);
  --color-base-neutral-light: var(--g-color-base-neutral-light);
  --color-base-neutral-light-hover: var(--g-color-base-neutral-light-hover);
  --color-base-neutral-medium: var(--g-color-base-neutral-medium);
  --color-base-neutral-medium-hover: var(--g-color-base-neutral-medium-hover);
  --color-base-neutral-heavy: var(--g-color-base-neutral-heavy);
  --color-base-neutral-heavy-hover: var(--g-color-base-neutral-heavy-hover);
  --color-base-misc-light: var(--g-color-base-misc-light);
  --color-base-misc-light-hover: var(--g-color-base-misc-light-hover);
  --color-base-misc-medium: var(--g-color-base-misc-medium);
  --color-base-misc-medium-hover: var(--g-color-base-misc-medium-hover);
  --color-base-misc-heavy: var(--g-color-base-misc-heavy);
  --color-base-misc-heavy-hover: var(--g-color-base-misc-heavy-hover);
  --color-base-light: var(--g-color-base-light);
  --color-base-light-hover: var(--g-color-base-light-hover);
  --color-base-light-simple-hover: var(--g-color-base-light-simple-hover);
  --color-base-light-disabled: var(--g-color-base-light-disabled);
  --color-base-light-accent-disabled: var(--g-color-base-light-accent-disabled);
  --color-base-float: var(--g-color-base-float);
  --color-base-float-hover: var(--g-color-base-float-hover);
  --color-base-float-medium: var(--g-color-base-float-medium);
  --color-base-float-heavy: var(--g-color-base-float-heavy);
  --color-base-float-accent: var(--g-color-base-float-accent);
  --color-base-float-accent-hover: var(--g-color-base-float-accent-hover);
  --color-base-float-announcement: var(--g-color-base-float-announcement);
  --color-base-modal: var(--g-color-base-modal);
  --color-line-generic: var(--g-color-line-generic);
  --color-line-generic-hover: var(--g-color-line-generic-hover);
  --color-line-generic-active: var(--g-color-line-generic-active);
  --color-line-generic-accent: var(--g-color-line-generic-accent);
  --color-line-generic-accent-hover: var(--g-color-line-generic-accent-hover);
  --color-line-generic-solid: var(--g-color-line-generic-solid);
  --color-line-brand: var(--g-color-line-brand);
  --color-line-focus: var(--g-color-line-focus);
  --color-line-light: var(--g-color-line-light);
  --color-line-info: var(--g-color-line-info);
  --color-line-positive: var(--g-color-line-positive);
  --color-line-warning: var(--g-color-line-warning);
  --color-line-danger: var(--g-color-line-danger);
  --color-line-utility: var(--g-color-line-utility);
  --color-line-misc: var(--g-color-line-misc);
  --color-sfx-veil: var(--g-color-sfx-veil);
  --color-sfx-shadow: var(--g-color-sfx-shadow);
  --color-sfx-shadow-heavy: var(--g-color-sfx-shadow-heavy);
  --color-sfx-shadow-light: var(--g-color-sfx-shadow-light);
  --color-sfx-fade: var(--g-color-sfx-fade);
  --color-scroll-track: var(--g-color-scroll-track);
  --color-scroll-handle: var(--g-color-scroll-handle);
  --color-scroll-handle-hover: var(--g-color-scroll-handle-hover);
  --color-scroll-corner: var(--g-color-scroll-corner);
  --color-infographics-axis: var(--g-color-infographics-axis);
  --color-infographics-tooltip-bg: var(--g-color-infographics-tooltip-bg);
}
